<html>
    <body>
        <div class="main">
            NEW COVENANT OVERVIEW<button class="submit" type="submit"><a href="{{url_for('create_covenant')}}">Edit Attributes</a></button><br>
            Name: {{session["new_covenant"].name}}<br>
            Season: {{session["new_covenant"].season}}<br>
            Income Sources: {{session["new_covenant"].income_sources}}<br>
            Tithes: {{session["new_covenant"].tithes}}<br>
            Current Treasury: {{session["new_covenant"].treasury}}<br>
            Inflation Enabled? {{session["new_covenant"].inflation_enabled}}<br>
            Current Inflation Amount: {{session["new_covenant"].inflation}}<br>
            Starting Year: {{session["new_covenant"].current_year}}<br><br>

            Laboratories:<br>
            blablabh<br><br>

            Armory:<br>
            blahlbsaldk<br><br>

            Covenfolken:<br>
            blasdkjflasd<br><br>
        </div>
    </body>
</html>
