<html>
    <body>
        <div class="main">
            COVENANT OVERVIEW<button class="submit" type="submit"><a href="{{url_for('create_covenant')}}">Edit Attributes</a></button><br>
            Name: {{session["new_covenant"].name}}<br>
            Season: {{session["new_covenant"].season}}<br>
            Income Sources: {{session["new_covenant"].income_sources}}<br>
            Tithes: {{session["new_covenant"].tithes}}<br>
            Current Treasury: {{session["new_covenant"].treasury}}<br>
            Inflation Enabled? {{session["new_covenant"].inflation_enabled}}<br>
            Current Inflation Amount: {{session["new_covenant"].inflation}}<br>
            Starting Year: {{session["new_covenant"].current_year}}<br><br>

            Covenfolken:<br>
            blasdkjflasd<br><br>
            <a href="{{url_for('modify_covenfolken')}}">
                <button>Edit Covenfolken</button>
            </a>

            Armory:<br>
            blahlbsaldk<br><br>
            <a href="{{url_for('modify_armory')}}">
                <button>Edit Armory</button>
            </a>

            Laboratories:<br>
            blablabh<br><br>
            <a href="{{url_for('modify_laboratories')}}">
                <button>Edit Laboratories</button>
            </a>
        </div>
    </body>
</html>
