<!DOCTYPE html>
<html lang="en">
<head>
   <title>Home</title>
</head>
<body>
    <div>
        <h6>Welcome, {{username}}</h6>
    </div>
    <div>
        <h4>Covenants:</h4>
    </div>
    <div id = "covList">
    </div>
    <ul>
    {% for covenant in covenants %}
        <li>
            <a href="{{url_for('load_existing_covenant', covenant_name=covenant)}}">{{covenant}}</a>
        </li>
    {% endfor %}
    </ul>

    <a href="create_covenant">
        <button>Create new Covenant</button>
    </a>
    
    <form action="{{'logout'}}" >
         <div class="main">
             <h2 style="text-align: center; margin-top: 25px; color: rgb(85, 12, 124); padding-top: 25px;">Welcome {{username}}</h2>
             <button class="submit" type="submit" style="margin-top: 25px;">Logout</button>
         </div>
    </form>
</body>
</html>
