<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
		<style>
				.input-wrapper div {
						margin-bottom: 10px;
				}
				.remove_input {
						margin-top: 10px;
						margin-left: 15px;
						vertical-align: text-bottom;
				}
				.add_covenfolk {
						margin-top: 1000px;
						margin-left: 10px;
						vertical-align: text-bottom;
				}
		</style>
    <body>
        <div class="main">
            Covenfolk<br>
            <form class="covenfolk_quick_add">
                Quick add 
                <input class="covenfolk_quick_add" id="covenfolk_quick_add_amount" name="covenfolk_quick_add_amount" type="number" placeholder=0 required>
                <select class="covenfolk_quick_add" id="covenfolk_quick_add_classification" name="covenfolk_quick_add_classification">
                    <option name="magi">Magi</option>
                    <option name="crafter">Crafters</option>
                    <option name="specialist">Specialists</option>
                    <option name="companion">Companions</option>
                    <option name="grog">Grogs</option>
                    <option name="noble">Nobles</option>
                    <option name="dependant">Dependants</option>
                    <option name="laborer">Laborers</option>
                    <option name="servant">Servants</option>
                    <option name="teamster">Teamsters</option>
                    <option name="horse">Large Animals</option>
                </select>
                <a href="javascript:void(0);" class="covenfolk_quick_add_button" title="Add random covenfolk"><img width=20 height=20 src="/static/icon_plus.png"/></a><br></p>
            </form>
            <form class="modify_covenant_covenfolken" action="{{url_for('modify_covenfolken')}}" method="POST">
                <hr>
                Mages:<a href="javascript:void(0);" class="add_magi add_covenfolk" title="Add magi"><img width=20 height=20 src="/static/icon_plus.png"/></a><br></p>
                <div class="covenfolken_magi_wrapper">
                    {% for magi in session["current_covenant"].covenfolken.get_covenfolk_of_classification("magi") %}
                        <div>
                            <input class="magi_name covenfolk_input" value="{{magi.name}}" name="magi_name" type="text" required>
                            <a href="javascript:void(0);" class="remove_magi remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
                        </div>
                    {% endfor %}
                </div><br>

                <hr>
                Crafters:<a href="javascript:void(0);" class="add_crafter add_covenfolk" title="Add crafter"><img width=20 height=20 src="/static/icon_plus.png"/></a><br></p>
                <div class="covenfolken_crafter_wrapper">
                    {% for crafter in session["current_covenant"].covenfolken.get_covenfolk_of_classification("crafter") %}
                        <div>
                            <input class="crafter_name covenfolk_input" value="{{crafter.name}}" name="crafter_name" type="text" required>
                            <input class="covenfolk_input" value="{{crafter.profession}}" name="crafter_profession" type="text" required>
                            <select class="covenfolk_input" name="crafter_saving_category">
                                {% for saving_category in saving_categories %}
                                    {% if saving_category == crafter.saving_category %}
                                        <option value="{{saving_category}}" selected="selected">{{saving_category}}</option>
                                    {% else %}
                                        <option value="{{saving_category}}">{{saving_category}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input class="covenfolk_input" value={{crafter.skill}} name="crafter_skill" type="number" required>
                            <select class="covenfolk_input" name="crafter_rarity">
                                {% for rarity in ["Common", "Rare"] %}
                                    {% if rarity.lower() == crafter.rarity.lower() %}
                                        <option value={{rarity}} selected="selected">{{rarity}}</option>
                                    {% else %}
                                        <option value={{rarity}}>{{rarity}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <a href="javascript:void(0);" class="remove_crafter remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
                        </div>
                    {% endfor %}
                </div><br>

                <hr>
                Specialists:<a href="javascript:void(0);" class="add_specialist add_covenfolk" title="Add specialist"><img width=20 height=20 src="/static/icon_plus.png"/></a><br></p>
                <div class="covenfolken_specialist_wrapper">
                    {% for specialist in session["current_covenant"].covenfolken.get_covenfolk_of_classification("specialist") %}
                        <div>
                            <input class="specialist_name covenfolk_input" value="{{specialist.name}}" name="specialist_name" type="text" required>
                            <input class="covenfolk_input" value="{{specialist.profession}}" name="specialist_profession" type="text" required>
                            <select class="covenfolk_input" name="specialist_saving_category">
                                {% for saving_category in saving_categories %}
                                    {% if saving_category == specialist.saving_category %}
                                        <option value="{{saving_category}}" selected="selected">{{saving_category}}</option>
                                    {% else %}
                                        <option value="{{saving_category}}">{{saving_category}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input class="covenfolk_input" value={{specialist.skill}} name="specialist_skill" type="number" required>
                            <select class="covenfolk_input" name="specialist_rarity">
                                {% for rarity in ["Common", "Rare"] %}
                                    {% if rarity.lower() == specialist.rarity.lower() %}
                                        <option value={{rarity}} selected="selected">{{rarity}}</option>
                                    {% else %}
                                        <option value={{rarity}}>{{rarity}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <a href="javascript:void(0);" class="remove_specialist remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
                        </div>
                    {% endfor %}
                </div><br>

                <hr>
                Companions:<a href="javascript:void(0);" class="add_companion add_covenfolk" title="Add companion"><img width=20 height=20 src="/static/icon_plus.png"/></a><br></p>
                <div class="covenfolken_companion_wrapper">
                    {% for companion in session["current_covenant"].covenfolken.get_covenfolk_of_classification("companion") %}
                        <div>
                            <input class="companion_name covenfolk_input" value="{{companion.name}}" name="companion_name" type="text" required>
                            <a href="javascript:void(0);" class="remove_companion remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
                        </div>
                    {% endfor %}
                </div><br>

                <hr>
                Grogs:<a href="javascript:void(0);" class="add_grog add_covenfolk" title="Add grog"><img width=20 height=20 src="/static/icon_plus.png"/></a><br></p>
                <div class="covenfolken_grog_wrapper">
                    {% for grog in session["current_covenant"].covenfolken.get_covenfolk_of_classification("grog") %}
                        <div>
                            <input class="grog_name covenfolk_input" value="{{grog.name}}" name="grog_name" type="text" required>
                            <a href="javascript:void(0);" class="remove_grog remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
                        </div>
                    {% endfor %}
                </div><br>

                <hr>
                Nobles:<a href="javascript:void(0);" class="add_noble add_covenfolk" title="Add noble"><img width=20 height=20 src="/static/icon_plus.png"/></a><br></p>
                <div class="covenfolken_noble_wrapper">
                    {% for noble in session["current_covenant"].covenfolken.get_covenfolk_of_classification("noble") %}
                        <div>
                            <input class="noble_name covenfolk_input" value="{{noble.name}}" name="noble_name" type="text" required>
                            <a href="javascript:void(0);" class="remove_noble remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
                        </div>
                    {% endfor %}
                </div><br>

                <hr>
                Dependants:<a href="javascript:void(0);" class="add_dependant add_covenfolk" title="Add dependant"><img width=20 height=20 src="/static/icon_plus.png"/></a><br></p>
                <div class="covenfolken_dependant_wrapper" id="covenfolken_dependant_wrapper">
                    {% for dependant in session["current_covenant"].covenfolken.get_covenfolk_of_classification("dependant") %}
                        <div>
                            <input class="dependant_name covenfolk_input" value="{{dependant.name}}" name="dependant_name" type="text" required>
                            <a href="javascript:void(0);" class="remove_dependant remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
                        </div>
                    {% endfor %}
                </div><br>

                <hr>
                Laborers:<a href="javascript:void(0);" class="add_laborer add_covenfolk" title="Add laborer"><img width=20 height=20 src="/static/icon_plus.png"/></a><br></p>
                <div class="covenfolken_laborer_wrapper" id="covenfolken_laborer_wrapper">
                    {% for laborer in session["current_covenant"].covenfolken.get_covenfolk_of_classification("laborer") %}
                        <div>
                            <input class="laborer_name covenfolk_input" value="{{laborer.name}}" name="laborer_name" type="text" required>
                            <a href="javascript:void(0);" class="remove_laborer remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
                        </div>
                    {% endfor %}
                </div><br>

                <hr>
                Servants:<a href="javascript:void(0);" class="add_servant add_covenfolk" title="Add servant"><img width=20 height=20 src="/static/icon_plus.png"/></a>
                <a href="javascript:void(0);" class="set_servants_to_minimum" title="Set Servants to Minimum" id="covenfolk_set_servants_to_minimum"><button>Set servants to minumum</button></a>
                <br></p>
                <div class="covenfolken_servant_wrapper" id="covenfolken_servant_wrapper">
                    {% for servant in session["current_covenant"].covenfolken.get_covenfolk_of_classification("servant") %}
                        <div>
                            <input class="servant_name covenfolk_input" value="{{servant.name}}" name="servant_name" type="text" required>
                            <a href="javascript:void(0);" class="remove_servant remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
                        </div>
                    {% endfor %}
                </div><br>

                <hr>
                Teamsters:<a href="javascript:void(0);" class="add_teamster add_covenfolk" title="Add teamster"><img width=20 height=20 src="/static/icon_plus.png"/></a><br></p>
                <div class="covenfolken_teamster_wrapper" id="covenfolken_teamster_wrapper">
                    {% for teamster in session["current_covenant"].covenfolken.get_covenfolk_of_classification("teamster") %}
                        <div>
                            <input class="teamster_name covenfolk_input" value="{{teamster.name}}" name="teamster_name" type="text" required>
                            <a href="javascript:void(0);" class="remove_teamster remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
                        </div>
                    {% endfor %}
                </div><br>

                <hr>
                Large Livestock:<a href="javascript:void(0);" class="add_animal add_covenfolk" title="Add animals"><img width=20 height=20 src="/static/icon_plus.png"/></a><br></p>
                <div class="covenfolken_animal_wrapper">
                    {% for animal in session["current_covenant"].covenfolken.get_covenfolk_of_classification("horse") %}
                        <div>
                            <input class="animal_name covenfolk_input" value="{{animal.name}}" name="animal_name" type="text" required>
                            <a href="javascript:void(0);" class="remove_animal remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
                        </div>
                    {% endfor %}
                </div><br>

                <button class="submit" type="submit">Proceed</button>
            </form>
        </div>
    <script>
        $(document).ready(function(){
            var max_input_fields = 100;
            var covenfolk_count = {
              "magi": document.getElementsByClassName("magi_name").length,
              "crafter": document.getElementsByClassName("crafter_name").length,
              "specialist": document.getElementsByClassName("specialist_name").length,
              "companion": document.getElementsByClassName("companion_name").length,
              "grog": document.getElementsByClassName("grog_name").length,
              "noble": document.getElementsByClassName("noble_name").length,
              "dependant": document.getElementsByClassName("dependant_name").length,
              "laborer": document.getElementsByName("laborer_name").length,
              "servant": document.getElementsByClassName("servant_name").length,
              "teamster": document.getElementsByClassName("teamster_name").length,
              "animal": document.getElementsByClassName("animal_name").length,
						};


            function add_new_covenfolk(classification, new_covenfolk_count = 1) {
                var add_covenfolk = `add_${classification}`;
                var add_covenfolk_wrapper = $(`.covenfolken_${classification}_wrapper`);
                if (classification == "crafter") {
								  	var new_covenfolk = `
								    		<div>
									    			<input class="crafter_name covenfolk_input" placeholder="Name" name="crafter_name" type="text" required>
									    			<input class="covenfolk_input" placeholder="Profession" name="crafter_profession" type="text" required>
									    			<select class="covenfolk_input" name="crafter_saving_category">
									    					{% for saving_category in saving_categories %}
									    							<option value="{{saving_category}}">{{saving_category}}</option>
									    					{% endfor %}
									    			</select>
									    			<input class="covenfolk_input" placeholder="Skill Level" name="crafter_skill" type="number" required>
									    			<select name="crafter_rarity">
									    					<option value="common">Common</option>
									    					<option value="rare">Rare</option>
									    			</select>
									    			<a href="javascript:void(0);" class="remove_${classification} remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
									    	</div>
								    `;
                } else if (classification == "specialist") {
							      var new_covenfolk = `
								        <div>
									        	<input class="specialist_name covenfolk_input" placeholder="Name" name="specialist_name" type="text" required>
									    			<input class="covenfolk_input" placeholder="Profession" name="specialist_profession" type="text" required>
									    			<select class="covenfolk_input" name="specialist_saving_category">
									    					{% for saving_category in saving_categories %}
									    							<option value="{{saving_category}}">{{saving_category}}</option>
									    					{% endfor %}
									    			</select>
									    			<input class="covenfolk_input" placeholder="Skill Level" name="specialist_skill" type="number" required>
									    			<select name="specialist_rarity">
									    					<option value="common">Common</option>
									    					<option value="rare">Rare</option>
									    			</select>
									    			<a href="javascript:void(0);" class="remove_${classification} remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a><br>
									    	</div>
								  `;
                } else {
						        var new_covenfolk = `<div><input class="${classification}_name covenfolk_input" placeholder="Covenfolk Name" name="${classification}_name" type="text" required><a href="javascript:void(0);" class="remove_${classification} remove_input" title="Remove input"><img width=20 height=20 src="/static/icon_minus.png"/></a></div>`;
                }

                while (new_covenfolk_count > 0) { 
                    new_covenfolk_count--;
						    	  if(covenfolk_count[classification] < max_input_fields){
						    	  		covenfolk_count[classification]++; 
						    	  		$(add_covenfolk_wrapper).append(new_covenfolk); 
						    	  		name_field = [...document.querySelectorAll(`.${classification}_name`)].pop();
						    	  		name_field.value = `${classification} ${covenfolk_count[classification]}`;

                        let this_removal = [...document.querySelectorAll(`.remove_${classification}`)].pop()
												console.log(this_removal)
												$(this_removal).click(function(e){
														e.preventDefault();

														$(this).parent('div').remove();
														covenfolk_count[classification]--;
												});
						    	  }
						    }
						}

            $(`.remove_input`).click(function(e){
								e.preventDefault();
                let wrapper_class_name = $(this).parent('div').parent('div').prop("className");
                let classification = wrapper_class_name.split("_")[1];

								$(this).parent('div').remove();
								covenfolk_count[classification]--;
						});

            var add_magi = $('.add_magi');
            $(add_magi).click(function(){
                add_new_covenfolk("magi");
            });

            var add_companion = $('.add_companion');
            $(add_companion).click(function(){
                add_new_covenfolk("companion");
            });

            var add_noble = $('.add_noble');
            $(add_noble).click(function(){
                add_new_covenfolk("noble");
            });

            var add_crafter = $('.add_crafter');
            $(add_crafter).click(function(){
                add_new_covenfolk("crafter");
            });

            var add_specialist = $('.add_specialist');
            $(add_specialist).click(function(){
                add_new_covenfolk("specialist");
            });

            var add_dependant = $('.add_dependant');
            $(add_dependant).click(function(){
                add_new_covenfolk("dependant");
            });

            var add_grog = $('.add_grog');
            $(add_grog).click(function(){
                add_new_covenfolk("grog");
            });

            var add_laborer = $('.add_laborer');
            $(add_laborer).click(function(){
                add_new_covenfolk("laborer");
            });

            var add_servant = $('.add_servant');
            $(add_servant).click(function(){
                add_new_covenfolk("servant");
            });

            var add_teamster = $('.add_teamster');
            $(add_teamster).click(function(){
                add_new_covenfolk("teamster");
            });

            var add_animal = $('.add_animal');
            $(add_animal).click(function(){
                add_new_covenfolk("animal");
            });

            function calculate_minimum_covenfolk_base_costs() {
                let base_costs = 0;
                covenant_season = "{{covenant_season}}".toLowerCase();
                for (const [classification, quantity] of Object.entries(covenfolk_count)) {
                    if (classification === "magi" || classification == "noble") {
                        if (covenant_season === "spring" || covenant_season == "winter") {
                            base_costs += quantity * 5;
                        } else {
                            base_costs += quantity * 10;
                        }
                    } else if (classification === "companion") {
                        if (covenant_season === "spring" || covenant_season == "winter") {
                            base_costs += quantity * 3;
                        } else {
                            base_costs += quantity * 5;
                        }
                    } else if (classification === "crafter" || classification === "specialist") {
                        if (covenant_season === "spring" || covenant_season == "winter") {
                            base_costs += quantity * 2;
                        } else {
                            base_costs += quantity * 3;
                        }
                    } else if (classification === "horse") {
                        base_costs += quantity * 1;
                    } else if (classification !== "servant" && classification !== "laborer" && classification !== "teamster")  {
                        if (covenant_season === "spring" || covenant_season == "winter") {
                            base_costs += quantity * 1;
                        } else {
                            base_costs += quantity * 2;
                        }
                    }
                }

                return base_costs;
            }

            $('.set_servants_to_minimum').click(function(e) {
                e.preventDefault();
                servant_minimum = Math.round(calculate_minimum_covenfolk_base_costs() / 5);
							  if (covenfolk_count["servant"] == servant_minimum) {
                    console.log("Already match!");
                    return "true";
                } else if (covenfolk_count["servant"] < servant_minimum) {
							      servants_to_add = servant_minimum - covenfolk_count["servant"];
							    	add_new_covenfolk("servant", servants_to_add);
                } else {
                    existing_servants = document.getElementById("covenfolken_servant_wrapper");
                    console.log("ES:", existing_servants.children[0])
                    while (existing_servants.firstElementChild) {
                        existing_servants.firstChild.remove();
                        covenfolk_count["servant"] = 0;
                    }
                    add_new_covenfolk("servant", servant_minimum);
								}
						});

            var quick_add = $('.covenfolk_quick_add_button');
            $(quick_add).click(function() {
                var quick_add_amount = document.getElementById('covenfolk_quick_add_amount').value;
                var quick_add_classification = document.getElementById('covenfolk_quick_add_classification').value.toLowerCase();
                let total = 0;
                let name_elements = [];

                total = Number(quick_add_amount) + Number(covenfolk_count[quick_add_classification]);
								if (total <= max_input_fields) {
										add_new_covenfolk(quick_add_classification, Number(quick_add_amount));
								}
            });

        });
    </script>
    </body>
</html>
