<html>
<head>
    {% with messages = get_flashed_messages() %}  
    {% if messages %}  
          {% for message in messages %}  
               <p style="text-align: center; color: #9C27B0;">{{ message }}</p>  
          {% endfor %}  
    {% endif %}  
    {% endwith %}
</head>
   <body>
      <form action="/login" method = "POST">
         <p>username <input type = "text" name = "username" /></p>
         <p>email <input type = "email" name = "email" /></p>
         <p>password <input type = "password" name = "password" /></p>
         <p><input type = "submit" value = "Submit" /></p>
      </form>
   </body>
</html>
